<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @admin.name %>
</p>

<p>
  <b>Username:</b>
  <%= @admin.username %>
</p>

<p>
  <b>Password digest:</b>
  <%= @admin.password_digest %>
</p>

<p>
  <b>State:</b>
  <%= @admin.state %>
</p>

<p>
  <b>Admin Type:</b>
  <%= @admin.admin_type %>
</p>

<p>
  <b>Email:</b>
  <%= @admin.email %>
</p>


<%= link_to 'Edit', edit_admin_path(@admin) %> |
<%= link_to 'Back', admins_path %>
