<p id="notice"><%= notice %></p>

<p>
  <b>Artist:</b>
  <%= @movie.artist %>
</p>

<p>
  <b>Title:</b>
  <%= @movie.title %>
</p>

<p>
  <b>Publish date:</b>
  <%= @movie.publish_date %>
</p>

<p>
  <b>Company:</b>
  <%= @movie.company %>
</p>


<%= link_to 'Edit', edit_movie_path(@movie) %> |
<%= link_to 'Back', movies_path %>
