<h1>Listing aritists</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Country</th>
    <th>Birth</th>
    <th>3w</th>
    <th>Region</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @aritists.each do |aritist| %>
  <tr>
    <td><%= aritist.name %></td>
    <td><%= aritist.country %></td>
    <td><%= aritist.birth %></td>
    <td><%= aritist.3w %></td>
    <td><%= aritist.region %></td>
    <td><%= link_to 'Show', aritist %></td>
    <td><%= link_to 'Edit', edit_aritist_path(aritist) %></td>
    <td><%= link_to 'Destroy', aritist, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Aritist', new_aritist_path %>
