<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @aritist.name %>
</p>

<p>
  <b>Country:</b>
  <%= @aritist.country %>
</p>

<p>
  <b>Birth:</b>
  <%= @aritist.birth %>
</p>

<p>
  <b>3w:</b>
  <%= @aritist.3w %>
</p>

<p>
  <b>Region:</b>
  <%= @aritist.region %>
</p>


<%= link_to 'Edit', edit_aritist_path(@aritist) %> |
<%= link_to 'Back', aritists_path %>
